
article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.course-prereq {
    margin: 1em 0.5em 0.5em 0.5em;
    padding: 0;
    line-height: 165%;
    background-color: #ddd;
    padding: 0.25em;
    border-radius: 0.5em;

    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.course-prereq > .course {
    font-weight: bold;
    position: absolute;
    top: -1.2em;
    left: 2em;
}

.course-prereq > .concept {
    display: block;
}

.prereq {
    grid-column-start: 1;
    grid-column-end: -1;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.activity-grouping {
    position: relative;

    margin-top: -0.9em;
    padding-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.activity-grouping > .activity {
    position: absolute;
    top: 0em;
    left: 2em;
    /* left: 0; */
    /* right: 0; */
    /* margin: auto; */
}

.activity-grouping > .concept {
    display: block;
    width: 1fr;
}

.activity {
    background-color: lightgreen;
    margin: 0.5em;
    padding: 0.6em;
    border-radius: 50%/50%;
    border-color: black;
    border-style: solid;
    text-align: center;
}

.concept {
    background-color: pink;
    margin: 0.25em;
    padding: 0.2em;
    /* justify-self: center; */
    align-self: start;
    border-color: black;
    border-style: solid;
}

.course {
    background-color: violet;
    padding: 0 0.75em 0 0.75em;
    border-radius: 10em;
    border-color: black;
    border-style: solid;
}

.representation {
    background-color: cyan;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border-radius: 10em;
    justify-self: center;
    border-color: black;
    border-style: solid;
}

article > .activity {
    position: relative;
    grid-column-start: 1;
    grid-column-end: -1;
    font-weight: bold;
    padding: 10%;
    margin: 0 -10% 0 -10%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

article > .activity > .activity {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: transparent;
    border-style: none;
}

article > .activity > .activity:before {
    position:absolute;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 5em solid #aaf;
    content: "";
    bottom: 3em;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

article > .activity > .activity:after {
    position:absolute;
    width: 50vw;
    height: 100vh;
    background-color: #aaf;
    content: "";
    bottom: 8em;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

@media only screen and (min-width: 30em) {
    .has3,.has2 {
        grid-column-end: span 2;
    }
}

@media only screen and (min-width: 45em) {
    .has3 {
        grid-column-end: span 3;
    }
    .has2 {
        grid-column-end: span 2;
    }
}
