<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Learning Progression for Partial Derivatives{% endblock %}</title>
  <link rel="stylesheet" href="{{style_css}}">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
    TeX: { equationNumbers: { autoNumber: "AMS" } },
    "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script type="text/javascript" src="libraries/MathJax-2.7.5/MathJax.js?config=TeX-AMS_HTML"></script>
  <script type="text/javascript" src="libraries/jquery.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      {% block nav %}<li><a href="key.html">Key</a></li>{% endblock %}
    </ul>
  </nav>
  <main>
    <header>
      <h1>{{ self.title() }}</h1>
    </header>
{% block content %}{% endblock %}
  </main>
</body>
<script>
  {% block extrajs %}{% endblock %}

$(document).ready(function() {
    $('.hint').hide();
    $('h1').click(function(){
        $('.hint').toggle();
    });
    {% block readyjs %}{% endblock %}
});
  </script>
</html>

