<!DOCTYPE html>
<html>
<head>
  <title>{{concept.name}}</title>
  <link rel="stylesheet" href="{{style_css}}">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
    TeX: { equationNumbers: { autoNumber: "AMS" } },
    "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML">
  </script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="{{concept.course.number}}.html">{{concept.course.name}}</a></li>
      <li><a href="concept-key.html">Concept page key</a></li>
    </ul>
  </nav>
  <main>
    <header>
      <h1>{{concept.name}}</h1>
    </header>

    <article>
      <details class="allprereqs">
        <summary>Prerequisite concepts</summary>
        {% for course, concepts, hints in concept.prereq_courses %}
        <div class="allprereqs">
          <div class="course-prereq has{{concepts|length}}{% if not concepts %} hint{% endif %}">
            <a href="{{course.number}}.html" class="course">
              {{ course.name }}
            </a>
            {% for c in concepts %}
            <a href="concept-{{c.urlname}}.html" class="concept">
              <span class="rownum hint">{{ c.rownum }}</span>
              {{ c.name }}
            </a>
            {% endfor %}
            {% for c in hints %}
            <a href="concept-{{c.urlname}}.html" class="concept hint">
              <span class="rownum hint">{{ c.rownum }}</span>
              {{ c.name }}
            </a>
            {% endfor %}
          </div>
          {% endfor %}

          <div class="prereq">
            {% for activity, concepts, hints in concept.prereq_groups %}
            <div class="activity-grouping has{{concepts|length}}{% if not concepts %} hint{% endif %}">
              <div class="taughtby">
                <div class="taughtby">
                  <a href="activity-{{activity.urlname}}.html" class="activity">
                    {{activity.name}}
                  </a>
                </div>
              </div>
              {% for c in concepts %}
              <a href="concept-{{c.urlname}}.html" class="concept">
                <span class="rownum hint">{{ c.rownum }}</span>
                {{ c.name }}
              </a>
              {% endfor %}
              {% for c in hints %}
              <a href="concept-{{c.urlname}}.html" class="concept hint">
                <span class="rownum hint">{{ c.rownum }}</span>
                {{ c.name }}
              </a>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </details>
      <div {% if concept.url != ""
           %}onclick="location.href='{{concept.url}}';" style="cursor: pointer;"{%
           endif %} class="concept">
        <div class="taughtby">
          <div class="taughtby">
            {% for a in concept.activities %}
            <a href="activity-{{a.urlname}}.html" class="activity">
              {{a.name}}
            </a>
            {% endfor %}
          </div>
        </div>
        <span class="rownum hint">{{ concept.rownum }}</span>
        <h1>{{concept.name}}</h1>
        {% if  concept.figure != "" %}
        <img src="{{concept.figure}}" class="figure"/>
        {% endif %}
        <div class="description">
          {{concept.description}}
        </div>
        <h3>Representations used</h3>
        <div class="row">
          {% for r in concept.representations %}
          <div class="representation">
            {{ r }}
          </div>
          {% endfor %}
        </div>
      </div>
      {% for activity, concepts, hints in concept.output_groups %}
      <div class="activity-grouping has{{concepts|length}}">
        <div class="taughtby">
          <div class="taughtby">
            <a href="activity-{{activity.urlname}}.html" class="activity">
              {{activity.name}}
            </a>
          </div>
        </div>
        {% for c in concepts %}
        <a href="concept-{{c.urlname}}.html" class="concept">
          <span class="rownum hint">{{ c.rownum }}</span>
          {{ c.name }}
        </a>
        {% endfor %}
        {% for c in hints %}
        <a href="concept-{{c.urlname}}.html" class="concept hint">
          <span class="rownum hint">{{ c.rownum }}</span>
          {{ c.name }}
        </a>
        {% endfor %}
      </div>
      {% endfor %}
    </article>
  </main>
</body>
  <script>
   $(document).ready(function() {
       $('.hint').hide();
       $('h1').click(function(){
           $('.hint').toggle();
       });
   });
  </script>
</html>

