<!DOCTYPE html>
<html>
<head>
  <title>Key</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
    TeX: { equationNumbers: { autoNumber: "AMS" } },
    "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML">
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="key.html">Key</a></li>
    </ul>
  </nav>
  <main>
    <header>
      <h1>Key</h1>
    </header>

    <article>
      <div class="course-prereq has2">
        <a href="key.html" class="course">
          Prereq course
        </a>
        <a href="concept.html" class="concept">
          Example concept
        </a>
        <a href="concept.html" class="concept">
          Example concept
        </a>
      </div>

      <div class="prereq">
        <div class="activity-grouping has3">
          <a href="activity-test.html" class="activity">
            Test activity
          </a>
          <a href="concept-demo.html" class="concept">
            First concept
          </a>
          <a href="concept-demo.html" class="concept">
            Second concept
          </a>
          <a href="concept-demo.html" class="concept">
            Third concept
          </a>
        </div>
      </div>

      <div class="activity">
        <div class="activity">
          This activity
        </div>
        <div class="representation">
          First representation
        </div>
        <div class="representation">
          Second representation
        </div>
      </div>
      <div class="output">
        <a href="concept-key.html" class="concept">
          Concept taught in activity
        </a>
        <a href="concept-key.html" class="concept">
          Another concept taught in activity
        </a>
      </div>
    </article>
  </main>
</body>
  <script>
    document.body.onclick= function(e){
      e=window.event? event.srcElement: e.target;
      if(e.parentNode.nodeName && e.parentNode.nodeName == 'DETAIL' && e.nodeName == 'H1') {
        e.parentNode.classList.toggle('active');
      }
    }
  </script>
</html>

