<!DOCTYPE html>
<html>
<head>
  <title>Key</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
    TeX: { equationNumbers: { autoNumber: "AMS" } },
    "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML">
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="key.html">Key</a></li>
    </ul>
  </nav>
  <main>
    <header>
      <h1>Key</h1>
    </header>

    <article>
      <a href="course-key.html" class="course">
        Courses look like this
      </a>
      <a href="concept-key.html" class="concept">
        Concepts look like this
      </a>
      <a href="activity-key.html" class="activity">
        An activity looks like this
      </a>
      <div class="representation">
        A representation looks like this
      </div>
    </article>
  </main>
</body>
  <script>
    document.body.onclick= function(e){
      e=window.event? event.srcElement: e.target;
      if(e.parentNode.nodeName && e.parentNode.nodeName == 'DETAIL' && e.nodeName == 'H1') {
        e.parentNode.classList.toggle('active');
      }
    }
  </script>
</html>

