<!DOCTYPE html>
<html>
<head>
  <title>Key</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
    TeX: { equationNumbers: { autoNumber: "AMS" } },
    "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script type="text/javascript" src="libraries/jquery.js"</script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="key.html">Key</a></li>
    </ul>
  </nav>
  <main>
    <header>
      <h1>Key</h1>
    </header>

    <article>
      <div class="course-prereq has2">
        <a href="key.html" class="course">
          Courses look like this
        </a>
        <a href="concept.html" class="concept">
          Concepts look like this
        </a>
        <a href="concept.html" class="concept">
          The shading grouping these concepts indicates that they are
          all taught in the same prerequisite course.
        </a>
      </div>

      <div class="prereq">
        <div class="activity-grouping has2">
          <a href="activity-test.html" class="activity">
            Activity in teaching concepts needed for this activity
          </a>
          <a href="concept-demo.html" class="concept">
            Concepts taught in an activity are grouped below it
          </a>
          <a href="concept-demo.html" class="concept">
            We only show the concepts taught which are prerequisites
            for the main activity described on an activity page.
          </a>
        </div>
      </div>

      <div class="activity">
        <div class="activity">
          An activity looks like this
        </div>
        <div class="representation">
          First representation used in the activity
        </div>
        <div class="representation">
          Second representation used in the activity
        </div>
      </div>
      <div class="output">
        <a href="concept-key.html" class="concept">
          Concept taught in activity
        </a>
        <a href="concept-key.html" class="concept">
          Another concept taught in activity
        </a>
      </div>
    </article>
  </main>
</body>
  <script>
    document.body.onclick= function(e){
      e=window.event? event.srcElement: e.target;
      if(e.parentNode.nodeName && e.parentNode.nodeName == 'DETAIL' && e.nodeName == 'H1') {
        e.parentNode.classList.toggle('active');
      }
    }
  </script>
</html>

