<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{representation.name}}</title>
  <link rel="stylesheet" href="{{style_css}}">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
    TeX: { equationNumbers: { autoNumber: "AMS" } },
    "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script type="text/javascript" src="libraries/MathJax-2.7.5/MathJax.js?config=TeX-AMS_HTML"></script>
  <script type="text/javascript" src="libraries/jquery.js"></script>
  <script>
   $(document).ready(function() {
       $('.hint').hide();
       $('h1').click(function(){
           $('.hint').toggle();
       });
   });
  </script>
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
    </ul>
  </nav>
  <main>
    <header>
      <h1>{{representation.name}}</h1>
    </header>

    <article>
      <div class="representation">
        <h1>{{representation.icon}}</h1>
        <br/>
        {{representation.description}}
        <div class="row">
          {% for c in representation.other_concepts %}
          <a href="concept-{{c.urlname}}.html" class="concept">
            <span class="rownum hint">{{ c.rownum }}</span>
            {{ c.name }}
          </a>
          {% endfor %}
        </div>
        <div class="row">
          {% for activity, concepts, hints in representation.groups %}
          <div class="activity-grouping has{{concepts|length}}">
            <div class="taughtby">
              <div class="taughtby">
                <a href="activity-{{activity.urlname}}.html" class="activity">
                  {{activity.name}}
                </a>
              </div>
            </div>
            {% for c in concepts %}
            <a href="concept-{{c.urlname}}.html" class="concept">
              <span class="rownum hint">{{ c.rownum }}</span>
              {{ c.name }}
            </a>
            {% endfor %}
            {% for c in hints %}
            <a href="concept-{{c.urlname}}.html" class="concept hint">
              <span class="rownum hint">{{ c.rownum }}</span>
              {{ c.name }}
            </a>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </article>
  </main>
</body>
</html>

