"#
let extrajs = {};
let readyjs = {};
let title = { self.name };
let nav = {
  r#"<li><a href="{{self.course.number}}.html">{{self.course.name}}</a></li>"#
};
let content = {
  r#"<article>
      <details class="allprereqs">
        <summary>Prerequisite concepts</summary>
        <div class="allprereqs">
          "#
          for prereq in self.prereq_courses.iter() {
            prereq
          }
          r#"
          <div class="prereq">
            "#
            for group in self.prereq_groups.borrow().iter() {
              group
            }
            r#"
          </div>
        </div>
      </details>

      <div
         "# if let Some(ref url) = self.external_url {
            r#"onclick="location.href='"# url as URL r#"';" style="cursor: pointer;" "#
         } r#"
         class="activity">
        <h1>"# self.name r#"</h1>"#
        if let Some(ref fig) = self.figure {
          r#"<img src=""# fig r#"" class="figure"/>"#
        }
        r#"
        <div class="description">
          {{activity.description}}
        </div>
        {% if activity.representations %}
        <h3>Representations used</h3>
        <div class="row">
          {% for r in activity.representations %}
          <a href="representation-{{r.urlname}}.html" class="representation">
            {{ r.icon }}
          </a>
          {% endfor %}
        </div>
        {% endif %}
        <h3>Concepts taught</h3>
        <div class="row">
          {% for c in activity.concepts %}
          <a href="concept-{{c.urlname}}.html" class="concept">
            <span class="rownum hint">{{ c.rownum }}</span>
            {{ c.name }}
            <div class="description hint">
              <br/>
              {{c.description}}
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </article>"#
};
include!("base.html");
r#"

{% endblock %}
