"#
let extrajs = {};
let readyjs = {};
let title = { self.name };
let nav = {
  r#"<li><a href="{{self.course.number}}.html">{{self.course.name}}</a></li>"#
};
let content = {
  r#"<article>
      <details class="allprereqs">
        <summary>Prerequisite concepts</summary>
        <div class="allprereqs">
          "#
          for prereq in self.prereq_courses.iter() {
            prereq
          }
          r#"
          <div class="prereq">
            "#
            for group in self.prereq_groups.borrow().iter() {
              group
            }
            r#"
          </div>
        </div>
      </details>

      <div {% if activity.url != ""
           %}onclick="location.href='{{activity.url}}';" style="cursor: pointer;"{%
           endif %} class="activity">
        <span class="rownum hint">{{ activity.rownum }}</span>
        <h1>{{activity.name}}</h1>
        {% if  activity.figure != "" %}
        <img src="{{activity.figure}}" class="figure"/>
        {% endif %}
        <div class="description">
          {{activity.description}}
        </div>
        {% if activity.representations %}
        <h3>Representations used</h3>
        <div class="row">
          {% for r in activity.representations %}
          <a href="representation-{{r.urlname}}.html" class="representation">
            {{ r.icon }}
          </a>
          {% endfor %}
        </div>
        {% endif %}
        <h3>Concepts taught</h3>
        <div class="row">
          {% for c in activity.concepts %}
          <a href="concept-{{c.urlname}}.html" class="concept">
            <span class="rownum hint">{{ c.rownum }}</span>
            {{ c.name }}
            <div class="description hint">
              <br/>
              {{c.description}}
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </article>"#
};
include!("base.html");
r#"

{% endblock %}
