"#
let extrajs = {};
let readyjs = {};
let title = { self.name };
let nav = { r#"<li><a href="{{concept.course.number}}.html">{{concept.course.name}}</a></li>
  <li><a href="concept-key.html">Concept page key</a></li>"# };
let content = {
  r#"<article>
      <details class="allprereqs">
        <summary>Prerequisite concepts</summary>
        <div class="allprereqs">
          "# for prereq in self.prereq_courses.iter() { r#"
          <div class="course-prereq has{{concepts|length}}{% if not concepts %} hint{% endif %}">
            <a href=""# prereq.course.number r#"" class="course">
              "# prereq.course.number r#"
            </a>
            "# for c in prereq.concepts.iter() { r#"
            <a href="/concept/"# slug::slugify(&c.name) r#"" class="concept">
              "# c.name r#"
            </a>
            "# } r#"
          </div>
          "# } r#"

          "# for group in self.prereq_groups.borrow().iter() { r#"
          <div class="prereq">
            "# group r#"
          </div>
          "# } r#"
        </div>
      </details>
      <div {% if concept.url != ""
           %}onclick="location.href='{{concept.url}}';" style="cursor: pointer;"{%
           endif %} class="concept">
        <div class="taughtby">
          <div class="taughtby"> "#
            for a in self.activities.iter() {
            r#"<a href="activity/"# slug::slugify(&a.name) r#".html" class="activity">
              "# a.name r#"
            </a>"#
            } r#"
          </div>
        </div>
        <span class="rownum hint">"# self.id.0 r#"</span>
        <h1>"# self.name r#"</h1>
        "# if let Some(ref figure) = self.figure { r#"
        <img src=""# figure r#"" class="figure"/>
        "# } r#"
        <div class="description">
          "# self.long_description r#"
        </div>
"# if self.representations.len() > 0 { r#"
        <h3>Representations used</h3>
        <div class="row"> "#
          for r in self.representations.iter() { r#"
          <a href="representation-"# r.0 r#".html" class="representation">
            Representation "# r.0 r#" (really icon)
          </a>
          "#
          }
          r#"
        </div>
"# } r#"
      </div>
      {% for activity, concepts, hints in concept.output_groups %}
      <div class="activity-grouping has{{concepts|length}}">
        <div class="taughtby">
          <div class="taughtby">
            <a href="activity-{{activity.urlname}}.html" class="activity">
              {{activity.name}}
            </a>
          </div>
        </div>
        {% for c in concepts %}
        <a href="concept-{{c.urlname}}.html" class="concept">
          <span class="rownum hint">{{ c.rownum }}</span>
          {{ c.name }}
        </a>
        {% endfor %}
        {% for c in hints %}
        <a href="concept-{{c.urlname}}.html" class="concept hint">
          <span class="rownum hint">{{ c.rownum }}</span>
          {{ c.name }}
        </a>
        {% endfor %}
      </div>
      {% endfor %}
    </article>
    "#
    };
    include!("base.html");
r#"
